<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{> header}}
        <p>This site is created by Avi Bansal. It uses data from third-party APIs provided by weatherstack.com.</p>
    </div>
    {{> footer}}
</body>

</html>